In [1]:
import os
from os.path import splitext, join
import pandas as pd
import numpy as np
from PIL import Image
from tqdm import tqdm

img_root = r'E:\food_raw\Training\stew\train'
img_dirs = os.listdir(img_root)

# -- label data 2 dataframe & xywh 2 xyxy
df = pd.DataFrame([], columns=['mean1', 'mean2', 'mean3', 'std1', 'std2', 'std3'])

for img_dir in tqdm(img_dirs):
    for img_file in os.listdir(join(img_root, img_dir)):
        cur_img = np.array(Image.open(join(img_root, img_dir, img_file)))

        mean1, mean2, mean3 = cur_img.mean(axis=(0,1))
        std1, std2, std3 = cur_img.std(axis=(0,1))

        df = df.append({'mean1':mean1, 'mean2':mean2, 'mean3':mean3, 'std1':std1, 'std2':std2, 'std3':std3}, ignore_index=True)

100%|██████████| 72/72 [27:13<00:00, 22.69s/it]

In [3]:
print([round(val, 2) for val in list(df.describe().loc['mean'] / 255.)])

,mean1,mean2,mean3,std1,std2,std3
count,114998.000000,114998.000000,114998.000000,114998.000000,114998.000000,114998.000000
mean,146.182654,132.439594,116.916979,49.759196,53.206714,60.093308
std,24.213937,24.911843,28.711416,13.400290,11.105046,12.068768
min,28.898477,23.280812,14.281071,8.246249,10.585337,14.872396
25%,132.485232,115.531594,95.624447,39.920717,45.721107,51.817021
50%,148.309441,134.016213,118.428322,48.906866,53.305492,60.148620
75%,162.822086,150.532934,138.914556,59.165496,60.613665,68.398541
max,236.369519,219.500877,210.691865,107.029980,101.228626,111.938081